<section class="card">
    <div class="card-body">
        <h2>About witsite</h2>
        <p><br>Witsite es un proyecto que busca mejorar la interacción de un negocio con sus usuarios mediante sitios web o aplicaciones. Cada negocio es distinto, por eso nos adaptamos a sus necesidades. <br><br> Nuestra ética de trabajo se basa en el respeto y la confianza. Nuestros clientes son lo más importante, por eso nos esforzamos en darles un servicio profecional.</p>
        <ul>
            <br>
            <li>Ciudad Bolívar, Venezuela.</li>
            <br>
            <li>onthewitsite@gmail.com</li>
            <br>
            <li>0414-8780487</li>
        </ul>
    </div>
</section>