<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, et fugit. Tempore voluptate natus voluptatibus.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolorum debitis velit, quia eveniet at a obcaecati autem aperiam amet.</p>
    <a href="https://witsite.herokuapp.com" target="blank" class="btn btn-primary">Witsite</a>
</div>