<div class="jumbotron mt-4">
    <h1 class="display-4"><span>Notes App</span> with Nodejs and Mongodb</h1>
    <hr class="my-4">
    <p class="lead">Create, read, update and delete your notes with our notes app. Developed And Designed By Witsite</p>
    <a href="https://witsite.herokuapp.com" target="blank" class="btn btn-primary">More</a>
</div>